{# templates/reservation/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réservation confirmée{% endblock %}

{% block body %}
<main class="container my-3">
  <div>
    <h1 class="text-danger mt-5 text-center">Réservation confirmée</h1>

    <p>Merci pour votre réservation !</p>
    <hr class="featurette-divider mt-5">
  </div>
</main>
{% endblock %}
