{# templates/reservation/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réservation confirmée{% endblock %}

{% block body %}
{# <main>
  <div class="container my-3">
    <div class="col-md-6">
      <h1 class="text-danger mt-5 text-center">Réservation confirmée</h1>
      <p>Merci pour votre réservation !</p>
      <hr class="featurette-divider mt-5">
    </div>
  </div>
</main> #}
  <h1 class="text-danger mt-5 text-center">Réservation confirmée</h1>
  <p class="text-center">Merci pour votre réservation !</p>
  <hr class="featurette-divider mt-5">

{% endblock %}
