{% extends 'base.html.twig' %}

{% block title %}Administration des heures d'ouvertures{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Administration des heures d'ouvertures</h1>
  
  </div>
</div>
{% endblock %}