{% extends 'base.html.twig' %}


{% block body %}
{# Nos entrées START #}
<div class="container">

  <div class="row ">
  <h1 class="fw-bold text-center text-danger mt-5 reveal featurette-heading">Nos entrées</h1>
    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/fromage.jpg"alt="assortiment de fromages" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Assortiment de fromages locales</h5>
        <span class="product-subtitle">Nous vous proposons de découvrir nos fromages issus de nos producteurs locaux.</span>
        <span class="product-price text-danger">8.5 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/soupe.jpg"alt="soupe de saison" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Soupe de saison</h5>
        <span class="product-subtitle">A base de légumes locaux issus de nos producteurs accompagné de croutons aïlés.</span>
        <span class="product-price text-danger">7 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/toast.jpg"alt="pain perdu" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Pain perdu revisité</h5>
        <span class="product-subtitle">Toast grillé tartiné de fromages ail et fines herbes maison.</span>
        <span class="product-price text-danger">7.5 €</span>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  {# Nos entrées END #}
  
</div>
{# Nos plats START #}
<div class="container">

  <div class="row product-container">
  <h1 class="fw-bold text-center text-danger mt-5 reveal featurette-heading reveal">Nos plats</h1>
    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/burgers.jpg"alt="burgers" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Hamburger savoyard</h5>
        <span class="product-subtitle">Savourez notre burger fait avec notre pain maison avec son steak de boeuf et servis avec nos frites maison et sa sauce fromagère.</span>
        <span class="product-price text-danger">18 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/tartiflette.jpg"alt="tartiflette" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Tartiflette</h5>
        <span class="product-subtitle">Composé de pommes de terre fondantes, de fromage Reblochon onctueux et de lardons pour la pointe saléé irrésistible.</span>
        <span class="product-price text-danger">18 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/fondue.jpg"alt="fondue" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Fondue savoyarde</h5>
        <span class="product-subtitle">Classique de la cuisine savoyarde, venez plonger votre pain dans notre mélange Emmental fondu et vin blanc.</span>
        <span class="product-price text-danger">17 €</span>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  {# Nos entrées END #}

</div>
{# Nos plats END #}

{# Nos dessert START #}
<div class="container">

  <div class="row product-container">
  <h1 class="fw-bold text-center text-danger mt-5 reveal featurette-heading">Nos desserts</h1>
    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/porridge.jpg"alt="porridge" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Porridge</h5>
        <span class="product-subtitle">A base de flocons d'avoines, fruits de saison et une pointe de cannelle.</span>
        <span class="product-price text-danger">6 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/gateau1.jpg"alt="gateau au chocolat" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Gâteau au chocolat</h5>
        <span class="product-subtitle">Laissez-vous tenter par ce dessert exquis.</span>
        <span class="product-price text-danger">8.5 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <a href="/menu"><img src="/assets/images/verrine.jpg"alt="verrine de saison" class="img-fluid"></a><hr>
        <h5 class ="text-danger">Verrine de fruit de saison</h5>
        <span class="product-subtitle">A base de fruit locaux et de saison et de sa chantilly maison.</span>
        <span class="product-price text-danger">6.5 €</span>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  {# Nos entrées END #}

</div>
{# Nos dessert END #}

{# Nos formules START #}
<div class="container">

  <div class="row product-container">
  <h1 class="fw-bold text-center text-danger mt-5 reveal featurette-heading">Nos formules</h1>
    <div class="col-md-4">
      <div class="product-item text-center">
        <hr>
        <h1 class ="fw-bold mt-5 text-danger">Formule du midi</h1>
        <h5 class ="fw-bold mt-5 text-danger">Entrée - Plat - Dessert</h5>
        <span class="product-price ">28 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <hr>
        <h1 class ="fw-bold mt-5 text-danger">Formule du soir</h1>
        <h5 class ="fw-bold mt-5 text-danger">Entrée - Plat</h5>
        <span class="product-price">24 €</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-item text-center">
        <hr>
        <h1 class ="fw-bold mt-5 text-danger">Formule du Chef</h1>
        <h5 class ="fw-bold mt-5 text-danger">Entrée - Plat - Dessert  - Café ou thé</h5>
        <span class="product-price ">30 €</span>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  {# Nos entrées END #}

</div>
{# Nos formules END #}




{% endblock %}