{% extends 'base.html.twig' %} 

{% block title %}Administration du menu{% endblock %} 

{% block body %}
<main>
    <div class="container">
    <h1 class="text-danger mt-5 text-center">Supprimer un menu</h1>
    <hr class="featurette-divider mt-5">
      
      {% include "admin/menu/_form.html.twig" with { 'button_label': 'Supprimer'} %}

    <hr class="featurette-divider mt-5">
    </div>

{% endblock %}
